<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layouts/HtmlHead") %> 
</head>
<body>
    <main>
        <h2>All companies</h2>
        <section>
            <% companies.forEach(company => { %>
                    <article>
                        <a href="/companies/<%= company._id %>"><%= company.name %></a>
                    </article>
            <% }) %>
        </section>
        <a class="link" href="/companies/new">
            <button class="bn54">
                <span class="bn54span">ADD Company</span>
            </button>
        </a>
    </main>
</body>
</html>