<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layouts/HtmlHead") %> 
</head>
<body class="mf">
    <main>
        <form action="/companies/<%= company._id %>/trucks" method="POST" required class="login-form">
            <h1>Add Truck</h1>
            <div class="form-input-material">
                <input type="text" name="number" id="number" placeholder="Registration number" autocomplete="off"
                class="form-control-material" required />
            </div>
            <input type="submit" class="btn btn-primary btn-ghost" value="Add truck">
        </form>
    </main>
</body>
</html>